
process {
    conda.enabled = true
    
    // Default environment for most processes
    conda = "${projectDir}/environment.yml"

    withName: 'RUN_SNIPPY' {
        conda = 'bioconda::snippy=4.6.0'
    }

    withName: 'RUN_BAKTA' {
        conda = 'bioconda::bakta=1.12.0'
    }
    
    withName: 'PANACOTA' {
        conda = 'bioconda::panacota=1.3.1'
    }

    withName: 'GWAS' {
        conda = 'bioconda::pyseer=1.3.11'
    }
}

profiles {
    standard {
        process.executor = 'local'
    }
    slurm {
        process.executor = 'slurm'
    }
}
